/**
 * 8.10 - >= 1920px
 */

@include media(ultra-wide) {
    .site-title {
        font-size: 28px;
        font-size: 1.75rem;
    }

    .entry-content h1,
    .entry-summary h1,
    .comment-content h1,
    .textwidget h1,
    .section-title,
    #footer-instagram .widget-title,
    .hero-section .entry-title,
    .promotion-section .entry-title,
    .promotion-content-section .entry-title,
    .gallery-section .entry-title,
    body:not(.home) .header-media .entry-title {
        font-size: 56px;
        font-size: 3.5rem;
    }

    .entry-content h2,
    .entry-summary h2,
    .comment-content h2,
    .textwidget h2,
    .page-title,
    .single .site-main .entry-header .entry-title,
    .page .site-main .entry-header .entry-title,
    #stats-section .entry-title {
        font-size: 49px;
        font-size: 3.0625rem;
    }

 	.has-header-media.header-media-text-disabled .wp-custom-header {
        padding: 460px 50px;
    }

    .widget .widget-title,
    .widget .wp-block-group h2 {
        margin: 0 0 28px;
    }

    .sidebar .widget,
    .archive-posts-wrapper .layout-one .hentry,
    .singular-content-wrap,
    .single .site-content .content-area .hentry,
    .single .site-main .entry-header,
    .page .site-main .entry-header,
    .archive .page-header,
    .error404 .page-header,
    .search .page-header,
    .woocommerce-products-header,
    .posts-navigation,
    .pagination {
        margin-bottom: 56px;
    }

    .comments-area {
        margin-top: 56px;
    }

    .post-navigation {
        padding-bottom: 56px;
    }

    .section-heading-wrapper {
        padding-bottom: 56px;
    }

    .section,
    #footer-newsletter .ewnewsletter .widget-wrap {
        padding: 140px 0 98px 0;
    }

    .contact-form-section.has-map .post-thumbnail {
        padding-bottom: 140px;
    }

    .home .site-content > .wrapper {
        padding: 140px 30px 84px 30px;
    }

    body:not(.home) .site-content > .wrapper,
    body:not(.home) .site-content .archive-content-wrap {
        padding: 91px 30px 35px 30px;
    }

    .archive-post-wrap .hentry .entry-footer {;
        margin-top: 42px;
    }

    .author-info .author-avatar .avatar {
        height: 125px;
        width: 125px;
    }

    .content-align-left .hero-content-wrapper .entry-container,
    .content-align-left .promotion-content-wrapper .entry-container {
        padding-right: 80px;
    }

    .content-align-right .hero-content-wrapper .entry-container,
    .content-align-right .promotion-content-wrapper .entry-container {
        padding-left: 80px;
    }

    .promotion-section:not(.content-frame) .hentry-inner {
        padding: 74px 0;
    }

    .testimonial-content-section .hentry-inner {
        padding: 56px;
    }

    .testimonial-content-section .post-thumbnail {
        margin-bottom: 35px;
    }

    body.infinite-scroll .archive-posts-wrapper .section-content-wrapper {
        padding-bottom: 108px;
    }

    .layout-one .archive-post-wrap .entry-container {
        padding: 56px;
    }

    .navigation-classic .site-branding {
        padding-right: 57px;
    }

    .site-footer .widget.social-navigation.ct-social-widget a {
        height: 60px;
        padding: 19px;
        width: 60px;
    }

    button,
    button[disabled]:hover,
    button[disabled]:focus,
    .button,
    .entry-summary button,
    input[type="button"],
    input[type="button"][disabled]:hover,
    input[type="button"][disabled]:focus,
    input[type="reset"],
    input[type="reset"][disabled]:hover,
    input[type="reset"][disabled]:focus,
    input[type="submit"],
    input[type="submit"][disabled]:hover,
    input[type="submit"][disabled]:focus,
    #stats-section .view-more .more-link,

    .posts-navigation a,
    #content #infinite-handle span button,
    #hero-section .more-button .more-link,
    #promotion-content-section .more-button .more-link,
    .pagination .page-numbers.prev,
    .pagination .page-numbers.next,
    .promotion-section .more-link,
    .woocommerce .product-container .wc-forward,
    .header-media .more-link,
    #feature-slider-section .more-link,
    .more-button .more-link {
        padding: 20px 40px;
    }

    .action-buttons .button.is-ghost-button,
    .custom-header-media .more-button .more-link.is-ghost-button {
        padding: 19px 40px;
    }

    .home .header-media .entry-title,
    .feature-slider-section .entry-title {
        font-size: 90px;
        font-size: 5.625rem;
    }

    .custom-header-content .more-button,
    #feature-slider-section .more-button,
    .home .custom-header-content .site-header-text,
    #feature-slider-section .entry-content,
    #feature-slider-section .entry-summary {
        margin-top: 35px;
    }

    .absolute-header .custom-header-content,
    .absolute-header #feature-slider-section .entry-container {
        padding: 165px 50px 300px 50px;
    }

    .non-absolute-header .custom-header-content,
    .non-absolute-header #feature-slider-section .entry-container {
        padding: 200px 50px 312px 50px;
    }

    .custom-header-content .site-header-text,
    #feature-slider-section .entry-content,
    #feature-slider-section .entry-summary {
        font-size: 22px;
        font-size: 1.375rem;
    }

    #menu-toggle .icon {
        top: -3px;
    }

   .site-header-main .wrapper {
        padding: 35px 50px;
    }

    body:not(.home) .custom-header-content {
        padding: 144px 50px;
    }

    .service-section .hentry-inner {
        padding: 70px 50px;
    }

    .post-thumbnail {
        margin-bottom: 35px;
    }

    .more-button,
    .stats-section.style-one .title-button-wrapper .view-more {
        margin-top: 35px;;
    }

    #featured-content-section .hentry .entry-container {
        padding: 42px 49px;
    }

    .team-content-wrapper .post-thumbnail {
        max-width: 300px;
    }

    .stats-section.style-one .hentry-inner {
        padding: 84px 35px;
    }

    .stats-section.style-one .section-description {
        margin-top: 35px;
    }

    .pricing-section .hentry-inner {
        padding: 56px 0;
    }

    .pricing-section .entry-content ul > li::before,
    .pricing-section .entry-summary ul > li::before {
        margin-right: 21px;
    }

    .pricing-section .entry-header,
    .package-price,
    .pricing-section .section-content-wrapper .entry-content,
    .pricing-section .section-content-wrapper .entry-summary {
        padding-left: 63px;
        padding-right: 63px;
    }

    .pricing-section .entry-title,
    .what-we-do-section .tab-pane .entry-title {
        font-size: 32px;
        font-size: 2rem;
    }

    .testimonial-content-section.style-one .entry-container {
        padding-left: 120px;
    }

    .promotion-contact .button-wrap {
        padding-left: 56px;
    }

    .promotional-video-section.no-section-heading {
        padding-bottom: 258px;
        padding-top: 300px;
    }

    .section-description {
        margin-top: 21px;
    }

    .contact-details .entry-container > .contact:not(:last-child) {
        padding-bottom: 35px;
        margin-bottom: 35px;
    }

    .section-content-wrapper .contact-us-form .entry-content {
        padding: 70px;
    }

    blockquote {
        font-size: 24px;
        font-size: 1.5rem;
    }

    .container--tabs .entry-container {
       padding-right: 80px;
    }

    .container--tabs .nav-tabs > li > a > span.what-we-do-icon-image {
        margin-bottom: 28px;
    }

    .container--tabs .tab-content {
        padding-top: 77px;
    }

    .footer-widget-area {
        padding-bottom: 91px;
        padding-top: 91px;
    }

    .site-footer-menu,
    .site-info {
        padding: 35px 20px;
    }

    .widget.ewfeaturedpostpageimage .left .entry-container {
        padding-left: 28px;
    }

    .custom-header + .section.service-section.style-two.no-section-heading .section-content-wrapper,
    #feature-slider-section + .section.service-section.style-two.no-section-heading .section-content-wrapper {
        margin-top: -160px;
    }

 }
