

$theme-background-color : (

    body-background-color: #ffffff,

    page-background-color: #ffffff,

    secondary-background-color: #f8f8f8,

    footer-background-color: #222222,

);

$theme-color:(

    custom-header-slider-text-color: #ffffff,

    custom-header-slider-text-hover-color: #f04878,

    main-text-color: #666666,

    header-text-color: #000000,

    absolute-header-text-color: #ffffff,

    absolute-header-navigation-color: #ffffff,

    heading-text-color: #000000,

    link-color: #f04878,

    link-hover-color: #000000,

    secondary-link-color: #000000,

    fifty-three-of-secondary-link-color: #777777,

    secondary-link-hover-color: #f04878,

    white-text-color: #ffffff,

    footer-text-color: #ffffff,

    sixty-of-footer-text-color: #999999,

    footer-border-color: #363636,

    border-color: #ebebeb,

    custom-header-and-secondary-gradient-background-color-first: #261380,

    custom-header-and-secondary-gradient-background-color-second: #8f559c,
);

$button-color: (

    custom-header-button-background-color: #ffffff,

    custom-header-button-text-color: #000000,

    custom-header-button-hover-background-color: #333333,

    custom-header-button-hover-text-color: #ffffff,

    button-background-color: #f04878,

    button-text-color: #ffffff,

    button-hover-background-color: #333333,

    button-hover-text-color: #ffffff,

    gradient-button-background-color-first: #e03ae0,

    gradient-button-background-color-second: #f95042,

    gradient-button-text-color: #ffffff,
);
