<!-- wp:template-part {"slug":"header","tagName":"header","SWTTransparentHeader":true} /-->
<!-- wp:pattern {"slug":"spectra-one/hero-banner"} /-->
<!-- wp:pattern {"slug":"spectra-one/three-column-featured"} /-->
<!-- wp:pattern {"slug":"spectra-one/alternate-image-text"} /-->
<!-- wp:pattern {"slug":"spectra-one/testimonials"} /-->
<!-- wp:pattern {"slug":"spectra-one/featured-logos"} /-->
<!-- wp:pattern {"slug":"spectra-one/split-image-right"} /-->
<!-- wp:pattern {"slug":"spectra-one/faq"} /-->
<!-- wp:pattern {"slug":"spectra-one/post-grid"} /-->
<!-- wp:pattern {"slug":"spectra-one/wide-banner-with-button"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
